body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  display: flex;
  justify-content: center;
}
.titleImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 472px;
}

.mainList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pokemonList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.pokeOne {
  list-style-type: none;
  width: 200px;
  height: 250px;
  background-color: #63d5c0;
  border: 5px solid #f0f021;
  margin: 20px;
  border-radius: 5px;
}

.pokeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listContainer {
  padding: 0px;
}
.smallList {
  list-style-type: none;
  font-family: "Grandstander", cursive;
}

.namePokemon {
  font-family: "Grandstander", cursive;
}
